{% extends "base.html" %}

{% block content  %}
{% load crispy_forms_tags %}
<div class="col-md-8 m-auto border border-warning p-5 bg-dark my-3 rounded">
    <h3>Depsoit Form</h3>
    <hr>
    <form action="" method="post">
        {% csrf_token %}
        <div class="mb-3">
            <label for="amount" class="form-label">Amount</label>
            <input type="number" class="form-control" id="amount" name="amount" required>
          </div>
        <input class="btn btn-outline-info text-white px-5" type="submit" value="Deposit">
    </form>

</div>

{% endblock content  %}