{% extends "base.html" %}

{% block content %}
{% load crispy_forms_tags %}

<div class="row mt-4">
    <div class="col-md-6">
        {% if book.image %}
        <img class="w-100 rounded" src="{{book.image.url}}" alt="">
        {% endif %}
    </div>
    <div class="col-md-6">

        <h3 class="text-info">{{book.title}}</h3>
        <h5 class="card-title text-dark fst-italic">Wirtten By : {{book.author}}</h5>

        <hr>
        <h6 class="text-warning"> Category : {{book.category}}</h6>
        <hr>
        
        <h6 class="text-warning">Borrow Price: {{book.borrow_price }}</h6>
        <hr>
        <small class="text-warning">Desciption: </small>
        <small>{{book.description }}</small>
       
        <hr>
        {% if request.user.is_authenticated %}  
        <p><a class="btn btn-outline-warning mx-2 px-5 w-100" href="{% url "borrow_book" book.id %}">Borrow Now</a></p>
        {% endif %}
       
    </div>
</div>
<hr><hr>
<div class="row">
    <div class="col-md-6 border border-dark p-3 rounded">
        {% if commentable %}
        <h4>Write your review </h4>
        <hr>
        <div>
            <form action="" method="post">
                {% csrf_token %}
                {{comment_form|crispy}}
                <button class="btn btn-outline-dark px-5">Review</button>
            </form>
        </div>
        {% else %}
        <h4>For give your review you have to borrow this book.</h4>
        {% endif %}

    </div>


    <div class="col-md-6 border border-dark p-3 rounded">
        {% if book.comments.count == 0 %}
            <h4>No Reviews...</h4>
        {% else %}
        <h4>{{ book.comments.count }} review{{ book.comments.count|pluralize }}</h4>

            
        {% endif %}
        <hr>
        {% for comment in book.comments.all %}
            <div class="comment border border-light rounded p-3" >
                <div class="row">
                    <div class="col-md-6">
                        <h5 class="text-dark fst-italic">{{comment.name}}</h5>
                    </div>
                    <div class="col-md-6 text-dark text-end">
                        <small class="text-end">{{comment.created_at}}</small>
    
                    </div>
                </div>
                <small class="text-start text-dark">{{comment.email}}</small>
                
                <hr>
                <p>{{comment.comment}}</p>
            </div>
        {% endfor %}
    </div>
    

</div> 


{% endblock content %}